.fade-in {
  animation: fadeIn 1.2s ease-in forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}
body{
height: 100%;

}
.row{
  margin-top: 15% ;
}
h1{
   align-items: center; font-size: 40px;
}
span{
color: aqua;

}
.icon{
  margin-right: 8px;
}
.nom{
  margin-top: 10px;
}
h2{
  margin-top: 40px;
}
.lien{
  margin-top: 50px;
}
.liencon{
        color: aqua;
        font-size: 30px;
                  border: 1px solid aqua;
                  border-radius: 30px;
                  box-shadow: 0px 10px 20px aqua;       
}
.moncv{

  margin-top: 60px;
}
.cv{
  
                  border-radius: 30px;
                  font-size: 20px;
                  background-color: aqua;
                  color: black;
                  text-decoration: none;
              
}
.floating-container {
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
 
  overflow: hidden;
  
}
.float-container {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
 
  overflow: hidden;
  
}
.float-image {
  width: 300px;
  animation: float 4s ease-in-out infinite;
border-radius: 30px; 
 box-shadow: 10px 10px 10px aqua;
border: 2px solid aqua;

}

.floating-image {
  width: 400px;
  animation: float 4s ease-in-out infinite;
border-radius: 30px; 
 box-shadow: 10px 10px 10px aqua;
border: 2px solid aqua;

}

@keyframes float {
  0%   { transform: translateY(0px); }
  50%  { transform: translateY(-20px); }
  100% { transform: translateY(0px); }
}
.spand{
color: cyan;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.spand::after {
  content: '|';
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0; }
}
