.fade-in {
  opacity: 0;
  transform: translateY(-10px);
  animation: fadeInDown 0.8s ease-out forwards;
}

@keyframes fadeInDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Dark mode général */
.dark-mode {
  background-color: #121212;
  color: bisque;
}
.navbar-collapse {
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease;
  max-height: 0;
  opacity: 0;
   display: none;
  transition: all 0.3s ease-in-out;
}



.navbar-collapse.open  {
  display: block; /* ou inline-block si tu préfères */
  max-height: 500px; /* Ajuste selon la taille de ton menu */
  opacity: 1;
}

.navbar-collapse.closed {
  max-height: 0;
  opacity: 0;
}

body {
  transition: background-color 0.3s, color 0.3s;
  font-family: sans-serif;
  margin: 0;
  width: 100%;
  padding: auto;
  
}

.nav-link:hover {
  
  color: aqua !important;
  border-bottom: 1px solid aqua;
  margin-bottom: 10px;
}
.nav-link.active {
  background-color: aqua;
  color: black !important;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 255, 255, 0.5);
  transition: all 0.3s ease-in-out;
}

.btnchange{
background-color: darkturquoise;

}
.span{
color: darkturquoise;
font-size: 50px;
font-family: 'Courier New', Courier, monospace;
}
.light-theme {
  background-color: #f5f5f5;
  color: #333;
}

.dark-theme {
  background-color: #1e1e1e;
  color: #eee;
}
.navbar-collapse-space {
  margin-left: 40%; /* ou la valeur qui te convient */
}

nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: inherit;
  margin-bottom: 50px;
}
